<tr>
    <td style="color: #1a1a1a; line-height: 22px;">
        <p style="margin-top: 20px;">
            Below is the confirmation code to access on <b>Aka The Archivist</b>.
        </p>
        <p style="margin-top: 20px;">
          <span style="font-size: 16px;">
              <b>[{{code}}]</b>
          </span>
        </p>
        <i style="margin-top: 20px;">
            If you have not made this request, you can safely ignore this message.
        </i>
    </td>
</tr>
